@import '../../assets/styles/variables.scss';

.WordsTable{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: $orange;
}
.tableBox {
    width: 80%;
    margin: 0 auto;
    background-color: $white;
}
.tableHead{
    width: 100%;
}
.tableRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;

    td{
        padding: 10px;
        border: 1px solid $gray;
    }
    button{
        margin: auto 0;
        padding: 0;
        border: none;
        background-color: $white;
    }
}

.header {
    font-weight: 600;
    text-transform: uppercase;
    color: $blue;
}
.addIcon{
    width: 20px;
    margin: 0;
    padding: 0;
}