@import '../../assets/styles/variables.scss';

.container{
    max-width: 1440px;
    margin: 0 auto;
}
.WordsTable{
    width: 100%;
    padding: 50px 0;
    background-color: $orange;
}
.tableBox {
    width: 80%;
    margin: 0 auto;
    background-color: $white;
}
.tableHead{
    width: 100%;
}
.tableRow {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;

    td{
        padding: 10px;
        border: 1px solid $gray;
    }
    button{
        margin: auto 0;
        padding: 0;
        border: none;
        background-color: $white;
    }
}

.header {
    font-weight: 600;
    text-transform: uppercase;
    color: $blue;
}
.addIcon, .changes{
    width: 20px;
    margin: 0;
    padding: 0;
}
.input{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid $blue;
}