@import '../../assets/styles/variables.scss';

.container{
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logoBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue;
    text-transform: uppercase;
}
.logo {
    height: 35px;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto 0;
    list-style-type: none;
    li {
        color: $blue;
        text-transform: uppercase;
    }
}
.settings{
    display:flex;
    align-items: center;
    img{
        height: 30px;
    }
}