@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

$pink: #FA73B8;
$green: #72BDA3;
$green-dark: #369272;
$orange: #F2AE4D;
$blue: #3D5675;
$gray: #F2F2F2;
$gray-dark: #555555;
$white: #fff;

$font:'Roboto';