@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&family=Poppins:wght@400;600&display=swap');

$pink: #FA73B8;
$green: #72BDA3;
$orange: #F2AE4D;
$blue: #3D5675;
$gray: #F2F2F2;

$font:'Nunito Sans';