@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&family=Poppins:wght@400;600&display=swap');

$pink: #FA73B8;
$pink-dark: #DE4B96;
$yellow: #DECF62;
$blue: #B6E1E7;
$blue-dark: #2A8591;

$font:'Nunito Sans';